<div class ="album-container">
	<div class= "slider">
		<ul class= "slides">
			<li>
				<%= image_tag @album.image.url %>
				<div class= "caption center-align">
				<h3><%= @album.title %></h3>
				<h5 class="light gray-text text-lighten-1"><%= @album.project_year %></h5>
				<h5 class="light gray-text text-lighten-1"><%= @album.location %></h5>
				</div>
			</li>
			<% @images.each do |image| %>
			<li>
				<%= image_tag image.image.url %>
				<div class= "caption left-align">
				<h3><%= image.name %></h3>
				<h5 class="light gray-text text-lighten-3"><%= image.description %></h5>
				</div>
			</li>
			<% end %>
		</ul>
		<div class="previous-link">
			<%= link_to @previous.title + " >>", album_path(@previous) %>
		</div>
		<div class="next-link">
			<%= link_to "<< " + @next.title, album_path(@next) %>
		</div>
	</div>
</div>
<div class= "image-section">
	<div class="cards">
    <% @images.each do |image|%>
	    <div class="card stickycol s4 hoverable">
	      <div class="card-image imagecard">
	        <img class="materialboxed" src= <%= image.image.url(:large) %> >
	      </div>
	      <div class='card-content imagecontent'>
	      	<span class="card-title grey-text text-darken-4"><%= image.name %></span>
	      	<span class="card-title grey-text text-darken-4"><%= image.description %></span>
	      </div>
	    </div>
	<% end %>
  	</div>
</div>
