<div id="preview">
  <div class="slider">
    <ul class="slides">
      <% @albums.each do |album| %>
      <li>
        <img src= <%= album.image.url(:large) %> >
      </li>
      <% end %>
    </ul>
  </div>
</div>
<div id="projects">
  <div class="projectbanner">
    <h2 class="title grey-text text-darken-1">Projects</h2>
    <h3 class= "title grey-text text-darken-1">Interior Designs</h3>
    <%=image_tag("ProjectBanner.jpg", style: "height:120%;width:100%", class:"background")%>
  </div>
  <div class="cards">
    <% @projects.each do |project|%>
    <div class="card stickycol s4 hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src= <%= project.image.url(:large) %> >
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><%= project.title %><i class="material-icons right">more_vert</i></span>
          <%= link_to "Click here for more on this project", album_path(project), :class => "center blue-text text-darken-1" %>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><%= project.title %><i class="material-icons right">close</i></span>
          <ul>
            <li>
              Project Year: <%= project.project_year %>
            </li>
            <li>
              Location: <%= project.location %>
            </li>
            <li>
              Price: <%= project.price %>
            </li>
            <li>
              Description: <%= project.album_description %>
            </li>
          </ul>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div id="about">
  <div class ="flexcontainer">
    <div class = "about-list"> 
      <h3 class = "grey-text text-darken-1">Elisa Chao</h3>
      <p>As a professional home stager and licensed Realtor®, I am here to help:</p>
    </div>
    <div class = "about-picture">
      <%= image_tag("Profile.png", size: "500x750", class: "profile-picture")%>
    </div>
    <div class = "about-motto">
      <ul> 
        <li>Agents achieve their vision for a project by implementing different styles to target their key demographics.</li>
        <li>Sellers highlight and emphasize their home's best features.</li>
        <li>Buyers envision the space as a place they can truly call home.</li>
      </ul>
      <h3 class = "grey-text text-darken-1">"There's No Place Like Home"</h3>
    </div>
  </div>
</div>

<div id="contact">
</div>