<!DOCTYPE html>
<html>
<head>
	<title>FineHomeLiving</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper black">
				<%= link_to "Fine Home Living", root_path, :class => "brand-logo center white-text" %>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="" class="white-text">Log In</a></li>
				</ul>
				<ul id="nav-mobile" class="left hide-on-med-and-down">
					<li><a href="" class="white-text">Preview</a></li>
					<li><a href="" class="white-text">Projects</a></li>
					<li><a href="" class="white-text">About</a></li>
					<li><a href="" class="white-text">Contact</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<%= yield %>
</body>
</html>