<!DOCTYPE html>
<html>
<head>
	<title>FineHomeLiving</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper white">
				<%= link_to "FINE HOME LIVING", root_path, :class => "brand-logo center brown-text" %>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="" class="brown-text">Log In</a></li>
				</ul>
				<ul id="nav-mobile" class="left hide-on-med-and-down">
					<li><a href="/#preview" class="brown-text">Preview</a></li>
					<li><a href="/#projects" class="brown-text">Projects</a></li>
					<li><a href="/#about" class="brown-text">About</a></li>
					<li><a href="/#contact" class="brown-text">Contact</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<%= yield %>
</body>
</html>